version: '3.9'
services:
collector:
build: ./collector-service
container_name: collector-service
depends_on:
- influxdb
networks: [isp-net]


influxdb:
image: influxdb:2.7
ports: ["8086:8086"]
environment:
- DOCKER_INFLUXDB_INIT_MODE=setup
- DOCKER_INFLUXDB_INIT_USERNAME=admin
- DOCKER_INFLUXDB_INIT_PASSWORD=admin123
- DOCKER_INFLUXDB_INIT_ORG=isp-org
- DOCKER_INFLUXDB_INIT_BUCKET=isp_network_metrics
- DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=isp-token-123
networks: [isp-net]


grafana:
image: grafana/grafana
ports: ["3000:3000"]
networks: [isp-net]


networks:
isp-net:
driver: bridge